.App-header {
    background: linear-gradient(to right, #6b94ff 0%, #1f5af6 100%);
}

.App-original-price {
    color: white;
    text-align: center;
    font-size: 80px;
}

.App-btn-buy-container {
    padding-top: 8px;
    text-align: center;
}

.App-select-token, .App-btn-buy-container {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
}

.App-select-token .dropdown-item {
    text-align: center;
}

.App-select-token .btn, .App-select-token .dropdown-menu, .App-btn-buy-container .btn {
    width: 100%;
}